################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestWebApi/bin/Debug/net8.0
/TestWebApi/obj
